# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
coverage/
*.tsbuildinfo

# Env & secrets
.env
.env.local
.env.*.local

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Backups locaux
*.sql.gz
backups/
